.sign-in {
  width: 400px;
  display: flex;
  flex-direction: column;

  .title {
    margin: 10px;
  }
  .buttons {
    display: flex;
  }
  .button-facebook {
    background-color: rgb(66, 103, 178);

    &:hover {
      background-color: white;
      color: rgb(66, 103, 178);
      border-color: rgb(66, 103, 178);
    }
  }
  .button-google {
    background-color: rgb(219, 68, 55);

    &:hover {
      background-color: white;
      color: rgb(219, 68, 55);
      border-color: rgb(219, 68, 55);
    }
  }
}
